.Layout {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 30px;
}

.Layout__button {
  grid-column: 1;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #2c8fff;
  color: #fff;
  transition: all 0.3s;
}

.Layout__button:hover {
  background-color: #0077ff;
}

.Layout__button:disabled {
  background-color: #94b9e2;
}

@media (max-width: 690px) {
  .Layout {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 525px) {
  .Layout {
    gap: 10px;
  }
}
