.Filter {
  grid-column: 1;
}

.Filter__select {
  text-transform: capitalize;
}

.Filter__select--default {
  text-transform: none;
}

.Filter__option {
  text-transform: capitalize;
}

.Filter__option--default {
  text-transform: none;
}

@media (max-width: 525px) {
  .Filter__select {
    font-size: 12px;
    width: 155px;
  }
}

@media (max-width: 375px) {
  .Filter__select {
    width: 100%;
    font-size: 10px;
  }
}
